<ul id="team_info">
  <li>队伍名称：<%= @group.name %></li>
  <li>队伍主题：<%= @group.description %></li>
  <li>目的地：<%= @group.destination %></li>
  <li>出发集结地：<%= @group.start %></li>
  <li>
    <%= render "team_members" %>  
  </li>  
</ul>
<div class="action">
  <%= link_to "删除团队", @group, :confirm => 'Are you sure?', :method => :delete %>
</div>


