<p>
  <strong>队伍名称：</strong>
  <%= @group.name %>
</p>
<p>
<p>
  <strong>队伍主页：</strong>
  <%= auto_link(@group.link) || "暂时还没有主页" %>
</p>
  <strong>队伍主题：</strong>
  <%= @group.description %>
</p>
</p>
  <strong>目的地：</strong>
  <%= @group.destination %>
</p>
</p>
  <strong>出发集结地：</strong>
  <%= @group.start %>
</p>
<p>
<%if current_user && current_user.has_role?(:moderator, @group) %>
  <%= link_to "Edit", edit_group_path(@group) %> |
  <%= link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
</p>
