<%= form_for @user, :html => {:multipart => true} do |f| %>
<div class="row-fluid">
  <div class="span4" id="user_info">
    <div id="user_avatar">
      <%= image_tag(@user.avatar_url(:thumb).to_s) if @user.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.submit '确认', class: "btn-primary"%>
    </div>
    <p>email: <%= @user.email %></p>
    <p>
      <label>qq: </label> 
      <%= best_in_place @user, :qq %>
    </p>
    <p><label>性别: </label><%= best_in_place @user, :gender %></p>
    <p><%= render 'join_team_info' %></p>
    <p>
    </p>
  </div>

  <div class="span8">
    <%= link_to "创建新团队", new_group_path %>
  </div>
</div>
<% end %>



